body {
    font-family: "Poppins", sans-serif;
    background: url('assets/bg-red.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0;
}

.logo {
    display: block;
    width: 200px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    background-color: #151515;
}

.nav-links {
    display: flex;
    gap: 100px;
    align-items: center;
}

.nav-item {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: color 0.3s ease;
}

.nav-item:hover {
    opacity: 0.7;
    transition: color 0.3s ease;
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
}

.photo-hero {
    width: 666px;
    height: auto;
}

.clean-your-kicks {
    width: 695.028px;
    height: auto;
}

.accroche {
    font-family: "lexend", sans-serif;
    font-weight: 900;
    color: #ffffff;
    font-size: 51px;
    text-align: center;
    line-height: normal;
}
.frame-2 {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.rectangle {
  position: relative;
  width: 19px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 12px;
}

.rectangle-2 {
  position: relative;
  width: 36px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 12px;
}

.button {
    display: flex;
    width: 160px;
    height: 59px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
    border-radius: 31px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #eb0000;
    text-align: center;
    line-height: normal;
    transition: transform 0.1s;
}

.button:hover {
  transform: scale(1.05);
  border-radius: 31px;
  background: #1b1a1a;
  box-shadow: 0 7px 7.7px 0 rgba(245, 179, 179, 0.36) inset;
  color: #ffffff;
}